.header {
  max-width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #979;
}

.logo {
  font-size: 1.75rem;
  color: white;
  font-weight: bold;
}

.logo-img {
  margin-right: 1rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.header a:hover {
  color: #333;
}
