@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Open+Sans:wght@300&display=swap');

.content {
  text-align: center;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.content h1 {
  font-size: 1.75rem;
  color: #979;
  font-family: 'Open Sans', sans-serif;
}

.content p {
  font-size: 1.25rem;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

.projects {
    margin-top: 1rem;
}